[submodule "dot_files/vim/bundle/vim-easymotion"]
	path = dot_files/vim/bundle/vim-easymotion
	url = git@github.com:Lokaltog/vim-easymotion
[submodule "dot_files/vim/bundle/vim-airline"]
	path = dot_files/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "dot_files/vim/bundle/vim-fugitive"]
	path = dot_files/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dot_files/vim/bundle/vim-gitgutter"]
	path = dot_files/vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "dot_files/vim/bundle/vim-bufferline"]
	path = dot_files/vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "dot_files/vim/bundle/nerdtree"]
	path = dot_files/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dot_files/vim/bundle/ctrlp.vim"]
	path = dot_files/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dot_files/vim/bundle/vim-ack"]
	path = dot_files/vim/bundle/vim-ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "dot_files/vim/bundle/vim-markdown"]
	path = dot_files/vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "dot_files/vim/bundle/ag"]
	path = dot_files/vim/bundle/ag
	url = git://github.com/rking/ag.vim.git
[submodule "dot_files/vim/bundle/typescript-vim"]
	path = dot_files/vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "submodules/powerline"]
	path = submodules/powerline
	url = git://github.com/powerline/powerline.git
[submodule "dot_files/vim/bundle/vim-airline-themes"]
	path = dot_files/vim/bundle/vim-airline-themes
	url = git://github.com/vim-airline/vim-airline-themes.git
