.*.sw[op]
Projects/NDA/
Secrets/
.netrwhist
dot_files/karabiner.d/log/
dot_files/config/karabiner/automatic_backups/
dot_files/config/wireshark/
## C# stuff
dot_files/config/.mono/
dot_files/config/stetic/
dot_files/config/NuGet/
dot_files/config/xbuild/
##
dot_files/config/configstore/
dot_files/vim/plugged/
